@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"stix-two-math";
  src:url("https://use.typekit.net/af/a45639/00000000000000007735caf7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a45639/00000000000000007735caf7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a45639/00000000000000007735caf7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
  }

@font-face {
font-family: 'Raanan regular';
font-style: normal;
font-weight: normal;
src: local('Raanan regular'), url('Raanan-regular.woff') format('woff');
}


@font-face {
font-family: 'Raanan Round';
font-style: normal;
font-weight: normal;
src: local('Raanan Round'), url('Raanan-Round.woff') format('woff');
}


@font-face {
font-family: 'Raanan Light';
font-style: normal;
font-weight: normal;
src: local('Raanan Light'), url('Raanan-Light.woff') format('woff');
}


@font-face {
font-family: 'Raanan Bold';
font-style: normal;
font-weight: normal;
src: local('Raanan Bold'), url('Raanan-Bold.woff') format('woff');
}

.raanan-reg {
  font-family: 'Raanan regular';
}

.raanan-bold {
  font-family: 'Raanan Bold';
}

.stix-reg { 
  font-family: "stix-two-math",serif; 
}

.nav-box {
  font-family: "stix-two-math",serif; 
  /* width: 138px;
  height: 138px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: background-color .5s;
}

.nav-box:hover {
  background-color: #A8B5B9;
}

.nav-box-selected {
  font-family: 'Raanan regular';
  width: 138px;
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #E4BA41;
  transition: background-color .5s;
}

.nav-box-selected:hover {
  background-color: #A8B5B9;
}

.background-grey {
  background-color: #272D35;
}

.background {
  background-color: #272D35;
  width: 100vw;
  min-height: 110vh;
}

.yellow-theme {
  color:#E4BA41
}

.grey-theme {
  color: #A8B5B9
}

.fade-in-out {
  position: absolute;
}

.fade-in-out:nth-child(1) {
  animation: fadeInOut1;
  animation-duration: 20s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.fade-in-out:nth-child(2) {
  animation: fadeInOut2;
  animation-duration: 20s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.fade-in-out:nth-child(3) {
  animation: fadeInOut3;
  animation-duration: 20s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}



@keyframes fadeInOut1 {
  0% {
    opacity:0;
  }
  15% {
    opacity:1;
  }
  33%, 100% {
    opacity: 0;
  }
}

@keyframes fadeInOut2 {
  0%, 25% {
    opacity:0;
  }
  48% {
    opacity:1;
  }
  66%, 100% {
    opacity: 0;
  }
}

@keyframes fadeInOut3 {
  0%, 58% {
    opacity:0;
  }
  85% {
    opacity:1;
  }
  100% {
    opacity: 0;
  }
}

.yellow-border {
  border-color: #E4BA41;
}

.yellow-line {
    width: 100%;
    height: 5px;
    background-color: #E4BA41;
}

.yellow-line.small {
  width:auto;
  flex-grow: 1;
  background-color: #E4BA41;
  height: 2px;
}

.work-history-line {
  position: absolute;
  background-color: white;
  width:2px;
}

.work-history-bullet {
  transform: translateX(-8px);
  background-color: white;
  width:16px;
  height: 16px;
  border-radius: 50%;
}

.thumbnail-image {
  /* width: 100px;
  height: 100px; */
  background-color: white;
  border-radius: 50%;
  /* margin-left: 50px */
}

.experience-text {
  font-family: "stix-two-math",serif; 
  color: white;
  /* margin-left: 50px; */
}

li {
  list-style-type: none;
  position: relative;    /* It's needed for setting position to absolute in the next rule. */
  margin-bottom: 0px;
  margin-left: 1.2em;
}

.experience-description {
  border-style: solid;
  border-color:  #E4BA41;
  border-width: 1px;
  padding: 3px;
  /* margin-left: 14rem; */
  /* width: 60rem; */
  color: white;
  font-family: "stix-two-math",serif; 
  /* max-height: 0px; */
  opacity: 0;
  transition: opacity 0.5s linear;
}

.experience-description.hover{
  /* max-height: 100px; */
  opacity: 1;
  transition: opacity 0.5s linear;
}

li::before {
  content: '•';
  position: absolute;
  left: -0.8em;
  top: -3px;          /* Adjust this value so that it appears where you want. */
  font-size: 1.1em;      /* Adjust this value so that it appears what size you want. */
}

.animate {
  transition: height 0.5s linear;
  height: 175px;
  animation-direction: alternate;
}

.animate.grow {
  height: 250px;
  transition: height 0.5s linear;
  animation-direction: alternate;
}

@media (max-width: 800px){
  .animate {
    transition: height 0.5s linear;
    height: 175px;
    animation-direction: alternate;
  }
  
  .animate.grow {
    height: 350px;
    transition: height 0.5s linear;
    animation-direction: alternate;
  }
}

.project-card {
  box-shadow: 20px 20px 20px #010102;
}

.contact-form input.failed-attempt:invalid {
  border-color: red;
}

.contact-form textarea.failed-attempt:invalid {
  border-color: red;
}

.about-page img{
  height: 100%
}
